.place__rectangle {
    width: 355px;
    height: 48px;
    margin-top: 48px;  
    background-color: #0278FE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    order: 5;
}

@media screen and (max-width: 320px) {
    .place__rectangle {
        width: 288px;
        height: 48px;
        order: 5;
        margin: 0 auto 0;
    }
}