*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
.page {
    position: relative;
    /*poner valor maximo*/
    min-width: 1280px;
    height: 7473px;
    background: #2a2c2f;
    color: white;
}

.logo {    
    width: 270px;
    height: 70px;
    margin: 34px 505px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lead {
    border: 2px solid red;
    width: 984px;
    margin: 91px 148px 0;
    margin-bottom: 92px;
}

.text-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
}

.lead__title {    
    font-size: 96px;
    line-height: 1.5;
    text-align: center;
    width: 793px;
    height: 200px;
    margin: 0 96px;
}

.lead__subtitle {
    width: 720px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin: 0 132px;
}

.lead__image {
    width: 100%;
    height: 615px;
    background-image: url(./images/kalegin-michail-179870-unsplash.png);    
    margin-top: 50px;
}

.intro {
    border: 2px solid red;
    width: 1017px;
    margin: 0 115px 92px 148px;
}

.intro__title {
    font-size: 54px;
    line-height: 1;
    margin-bottom: 25px;
}

.intro__text {
    width: 722px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    margin-bottom: 32px;
}

.intro__author {
    position: absolute;
    right: 0;
    bottom: -10px;
}

.intro__subtext {
    width: 720px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
}

.photo-grid {
    border: 2px solid red;
    width: 1184px;
    margin: 0 48px 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.photo-grid__item {
    width: 100%;
    height: 213px;
}

.places {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 987px;
    height: 4098px;
    margin: 0 148px 0;
}

.place {
    border: 2px solid blueviolet;
    width: 984px;
    height: 756px;
    display: flex;
    position: relative;
}

.place__title {
    font-size: 72px;
    line-height: 1;
    width: 460px;
    height: 152px;
    margin-bottom: 48px;
}

.place__country {
    width: 460px;
    height: 460px; 
}

.place__website {
    width: 456px;
    height: 45px;
    margin-top: 100px;
    margin-left: 40px;
}

.place__website_url-heading {
    font-size: 12px;
    line-height: 1;
    font-weight: normal;
    padding-bottom: 10px;
}

.place__website_artist {
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    padding-bottom: 48px;
}

.place__website_paragraph {
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
}

.place__rectangule {
    width: 315px;
    height: 40px;
    background-color: #0278FE;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}