.place__rectangle-paragraph {
    color: white;
    text-decoration: none;
    font-family: 'Inter Regular';
    align-self: center;
}

.place__rectangle-paragraph:hover {
    transform: scale(110%);
}

@media screen and (max-width: 540px) {
    .place__rectangle-paragraph {
        margin-bottom: 8px;
        pointer-events: none;
        font-size: 14px;
    }
}