.place {    
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 152px 460px auto;
    margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-rows: auto 340px auto;
        margin-bottom: 31px;
    }
}

@media screen and (max-width: 320px) {
    .place{
        display: flex;
        flex-direction: column;
        margin-bottom: 31px;
    }
}