@font-face {
    font-family: 'Inter Bold';
    src: url(../fonts/Inter-Bold.woff);
}

@font-face {
    font-family: 'Inter Regular';
    src: url(../fonts/Inter-Regular.woff);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2c2f;
    color: white;
}
    
.page {
    max-width: 1440px;
    margin: auto;
}

.logo {
    width: 270px;
    margin: 34px auto 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Ancho es = 984px*/

.lead {
    border: 2px solid red;
    width: 88%;
    margin: 91px auto 92px;
}

.text-title {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: bold;
}

.lead__title {
    width: 80.6%;
    height: 200px;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.lead__subtitle {
    width: 73.2%;
    height: 72px;
    font-weight: normal;
    font-family: 'Inter Regular';
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
}

.lead__image {
    width: 100%;
    margin-top: 50px;
}


/*Ancho de 1017px*/
.intro {
    border: 2px solid red;
    width: 91%;
    margin: 0 auto 92px;
    font-family: 'Inter Regular';
}

.intro__title {
    width: 100%;
    font-size: 54px;
    line-height: 1;
    margin-bottom: 25px;
}

.intro__text {
    width: 72.9%;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;    
}

.intro__author {    
    width: 72.9%;
    text-align: right;
    margin-bottom: 32px;
}

.intro__subtext {
    width: 72.7%;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

.photo-grid {
    width: 95%;
    margin: 0 auto 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.photo-grid__item {
    width: 100%;
}

.places {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto 0;
}

.place__paragraph-text {
    margin-bottom: 25px;
}

.cover {
    width: 85%;
    height: 740px;
    margin: auto;
}

.cover__background {
    background-image: url(../images/__background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cover__overlay {
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    position: absolute;
    opacity: 0;
}

.cover__background:hover .cover__overlay {
    opacity: 0.8;
}

.cover__title {
    font-family: 'Inter Bold';
    font-size: 72px;
    line-height: 1.5;
    z-index: 1;
}
    
.cover__subtitle {
    font-family: 'Inter Regular';
    width: 280px;
    height: 66px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    z-index: 1;
}

.cover__rectangle {
    width: 198px;
    height: 48px;
    background-color: #0278FE;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.cover__rectangle-paragraph {
    color: white;
    text-decoration: none;
    font-family: 'Inter Regular';
    align-self: center;
}

.cover__rectangle-paragraph:hover {
    transform: scale(110%);
}

.cover__paragraph {
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
}

.footer {
    width: 191px;
    height: 16px;
    margin: 92px auto 24px;
}

.footer__copyright {
    font-family: 'Inter Regular';
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}

/*Responsive Design Medium*/

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
        margin-bottom: 55px;
    }

    .lead__title {
        width: 94%;
    }
    
    .lead__subtitle {
        width: 94%;
    }

    .intro {
        width: 94%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 64px;
    }

    .intro__text {
        width: 100%;
    }
    
    .intro__author {    
        width: 100%;
    }
    
    .intro__subtext {
        width: 100%;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .places {
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        width: 94%;
    }

    .cover {
        width: 100%;
    }
}

/*Responsive Design Small*/

@media screen and (max-width: 320px) {
    .lead {
        width: 100%;
        margin: 50px auto 40px;
    }

    .lead__title {
        width: 88%;
        font-size: 40px;
        margin: 0 auto 0;
    }

    .lead__subtitle {
        font-size: 16px;
        width: 88%;
        margin: 0 auto 0;
    }

    .lead__image {
        margin: 0;
        width: 100%;
        background-size: cover;
    }

    .intro {
        width: 91%;
        margin: 0 auto 38px;
    }

    .intro__title {
        font-size: 32px;
        margin-bottom: 9px;
    }

    .intro__author {
        font-size: 24px;
        margin: 0;
    }

    .group-10 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 62px;
    }

    .group-10__item {
        width: 288px;
        height: 216px;
        margin-bottom: 10px;
    }
    
    .places {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cover {
        width: 100%;
        height: 254px;
    }

    .cover__background{
        pointer-events: none;
    }

    .cover__title {
        text-align: center;
        width: 90%;
        font-size: 32px;
    }

    .cover__subtitle {
        width: 90%;
        font-size: 14px;
    }

    .cover__rectangle {
        width: 198px;
        height: 48px;
    }
}